
<div class="main container">
   <div class="side bar row">

   <%= render 'books/list', book: @new_book, user: @user%>

   <div class="main content col-md-8 offset-md-1">
    <h1>Users</h1>
     <table class="table table-hover table-inverse">
            <thead>
               <tr>
                <th>image</th><th>name</th><th colspan="3"></th>
               </tr>
            </thead>
            <tbody>
             <% @users.each do |user| %>
               <tr>
                 <td><%= attachment_image_tag user,:profile_image,:fill,40,40,fallback:"no_image.jpg",size:'40x40' %></td>
                 <td><%= user.name %></td>

                 <td>
                     <p>フォロー数：<%= user.following.count %></p>
                 </td>
                 <td>
                     <p>フォロワー数：<%= user.followers.count %></p>
                 </td>
                 <td>
                     <p>
                         <% if current_user.following?(user) %>
                           <%= render 'users/unfollow', user: user  %>
                         <% else %>
                           <%= render 'users/follow', user: user %>
                         <% end %>
                     </p>
                 </td>

                 <td><%= link_to "Show", user_path(user) %></td>
               </tr>
              <% end %>
            </tbody>
           </table>
   </div>
  </div>
</div>
