
     <div class="col-md-3">
      <h1>User info</h1>
       <div class="profile_image">
        <%= attachment_image_tag user,:profile_image,:fill,60,60,fallback:"no_image.jpg"%>  <!-- @user -> user -->
       </div>
        <table class="table">
            <tr>
                <td>name</td>
                <td><%= user.name %></td>
            </tr>
            <tr>
                <td>introduction</td>
                <td><%= user.introduction %></td>
            </tr>
            <tr>
                <td>follows</td>
                <td>
                    <%= link_to following_user_path(user), method: :get do %>
                    <p><%= user.following.count %></p>
                    <% end %>
                </td>
            </tr>
            <tr>
                <td>followers</td>
                <td>
                    <%= link_to followers_user_path(user), method: :get do %>
                    <%= user.followers.count %>
                    <% end %>
                </td>
            </tr>

        </table>

          <% if current_user == user %>
            <div>
              <%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block", method: :get do  %>
               <i class="fas fa-user-cog edit_user_91"></i>
              <% end %>
            </div>
          <% else %>
            <div>
                <p>
                    <% if current_user.following?(user) %>
                    <%= render 'users/unfollow', user: user  %>
                    <% else %>
                    <%= render 'users/follow', user: user %>
                    <% end %>
                </p>
            </div>
          <% end %>

        <div class="New book">
          <h1 class="mt-3">New book</h1>
            <%= form_with model: book, local:true do |f| %> <!-- @book -> book -->
             <div class="book_title">
              <div class="title">Title</div>
              <%= f.text_field :title %>
             </div>
             <div class="book_opinion">
              <div class="opinion">Opinion</div>
              <%= f.text_area :body %><br>
             </div>
              <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
            <% end %>
        </div>
     </div>
