<% if flash[:notice] %>
<div class="flash">
<%= flash[:notice] %>
</div>
<% end %>

<%= render 'books/list', book: @new_book, user: @user %>


<div class="main content col-lg-8">

          <h1 class="Book_contents">Book detail</h1>
           <table class="table table-hover table-inverse">
            <tbody>
               <tr>
                 <td>
                  <%= attachment_image_tag @user,:profile_image,:fill,40,40,fallback:"no_image.jpg",size:'40x40' %>
                  <%= link_to @user.name, user_path(@user) %>
                 </td>
                 <td><%= @book.title %></a></td>
                 <td><%= @book.body %></td>
                 <td>
                  <div class="btn btn-success"><%= link_to "Edit",edit_book_path(@book)%></div>
                 <td>
                  <div class="btn btn-danger"><%= link_to "Destroy",book_path(@book),method: :delete%></div>
                 </td>
               </tr>
            </tbody>
           </table>
</div>